<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css')}}"/>

    </head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/all">All Posts</a>
        </li>
        <li>
            <a href="/newpost">Newpost</a>
        </li>
    </ul>
    <ul id="user-account">
        <li>
            <a id="user" href="/login">Login</a>
        </li>
        <li>
            <a id="user" href="logout">Logout</a>
        </li>
    </ul>
            
</nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}   
        </ul> 
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>